## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
df = pd.read_csv("./data/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
agg_func_count = {'sex': ['count']}
print(df.groupby(['sex']).agg(agg_func_count))

          sex
        count
sex
Female  10771
Male    21790

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [4]:
print('Average male age: ' + str(df[df.sex == 'Male']['age'].mean().round(1)))

Average male age: 39.4

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [5]:
allRows = len(df)
usRows = len(df[df['native-country'] == 'United-States'])
percentage = usRows/allRows
print('Part of US people in dataset: ' + str(round(percentage*100,3)) + '%')

Part of US people in dataset: 89.586%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [6]:
a = {'age': ['mean', 'std']}
d = pd.concat([df[df.salary == '<=50K'].agg(a),df[df.salary == '>50K'].agg(a)],keys=['Salary <=50K','Salary >50K'])
print(d)

                         age
Salary <=50K mean  36.783738
             std   14.020088
Salary >50K  mean  44.249841
             std   10.519028

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
b = df[df.salary == '<=50K']['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])
if b.value_counts().count() == 2:
    print('False')
else:
    print('True')

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [8]:
print(df.groupby(['race', 'sex']).describe().loc['Asian-Pac-Islander', 'age']) #using describe
print()
print(df.groupby(['race', 'sex']).max().loc['Asian-Pac-Islander', 'age']) #using max and loc
print()
p = df.groupby(['race', 'sex']).max().loc['Asian-Pac-Islander', 'age'] # using  max loc for dataframe and loc for series
print('Max age = ' + str(p.loc['Male']))

        count       mean        std   min   25%   50%    75%   max
sex
Female  346.0  35.089595  12.300845  17.0  25.0  33.0  43.75  75.0
Male    693.0  39.073593  12.883944  18.0  29.0  37.0  46.00  90.0

sex
Female    75
Male      90
Name: age, dtype: int64

Max age = 90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
a = df[df.salary == '>50K'] #Salary >50k
b = len(a[df['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'])]) #Salary >50k & married*
c = len(a[~df['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'])]) #Salary
if b/len(a) > c/len(a):
    print('Married men are more successful than unmarried')
else:
    print('Unmarried men are more successful than married')

Married men are more successful than unmarried

C:\WINDOWS\TEMP/ipykernel_2756/3988061805.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  b = len(a[df['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'])]) #Salary >50k & married*
C:\WINDOWS\TEMP/ipykernel_2756/3988061805.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  c = len(a[~df['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'])]) #Salary

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [14]:
count = df['hours-per-week'].max()
maximum = df[df['hours-per-week'] == count]['age'].count()
billionaire = df[df['hours-per-week'] == count][df.salary == '>50K']['age'].count()
print('Max hours: ' + str(maximum))
print('Amount of people who are working ' + str(maximum) + ' hours in a week : ' + str(billionaire))
print(str(round(billionaire/maximum*100)) + ' %')

Max hours: 85
Amount of people who are working 85 hours in a week : 25
29 %

C:\WINDOWS\TEMP/ipykernel_2756/613624461.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  billionaire = df[df['hours-per-week'] == count][df.salary == '>50K']['age'].count()

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [21]:
a = df[df['salary'] == '<=50K'].groupby(['native-country'])['hours-per-week'].mean()
b = df[df['salary'] == '>50K'].groupby(['native-country'])['hours-per-week'].mean()
pd.merge(a,b, right_index=True, left_index=True)

                    hours-per-week_x  hours-per-week_y
native-country
?                          40.164760         45.547945
Cambodia                   41.416667         40.000000
Canada                     37.914634         45.641026
China                      37.381818         38.900000
Columbia                   38.684211         50.000000
Cuba                       37.985714         42.440000
Dominican-Republic         42.338235         47.000000
Ecuador                    38.041667         48.750000
El-Salvador                36.030928         45.000000
England                    40.483333         44.533333
France                     41.058824         50.750000
Germany                    39.139785         44.977273
Greece                     41.809524         50.625000
Guatemala                  39.360656         36.666667
Haiti                      36.325000         42.750000
Honduras                   34.333333         60.000000
Hong                       39.142857         45.000000
Hungary                    31.300000         50.000000
India                      38.233333         46.475000
Iran                       41.440000         47.500000
Ireland                    40.947368         48.000000
Italy                      39.625000         45.400000
Jamaica                    38.239437         41.100000
Japan                      41.000000         47.958333
Laos                       40.375000         40.000000
Mexico                     40.003279         46.575758
Nicaragua                  36.093750         37.500000
Peru                       35.068966         40.000000
Philippines                38.065693         43.032787
Poland                     38.166667         39.000000
Portugal                   41.939394         41.500000
Puerto-Rico                38.470588         39.416667
Scotland                   39.444444         46.666667
South                      40.156250         51.437500
Taiwan                     33.774194         46.800000
Thailand                   42.866667         58.333333
Trinadad&Tobago            37.058824         40.000000
United-States              38.799127         45.505369
Vietnam                    37.193548         39.200000
Yugoslavia                 41.600000         49.500000

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [22]:
def rule(age):
    if age > 16 and age < 35:
        return 'young'
    elif age > 35 and age < 70:
        return 'adult'
    elif age > 70 and age < 100:
        return 'retireee'

df['AgeGroup'] = df.apply(lambda x : rule(x['age']),axis = 1)
df['AgeGroup']

0        adult
1        adult
2        adult
3        adult
4        young
         ...
32556    young
32557    adult
32558    adult
32559    young
32560    adult
Name: AgeGroup, Length: 32561, dtype: object

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [38]:
df[df['salary'] == '>50K'].groupby(['AgeGroup'])['age'].count()

AgeGroup
adult       6023
retireee      94
young       1488
Name: age, dtype: int64

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [58]:
groupCount = df.groupby('occupation')['age'].count()
#print(str(groupCount))
def filter_func():
    a = df.groupby('occupation').mean()
    b = a[a['age'] < 40 ]
    c = b[b['hours-per-week'] > 5]
    return c

filter_func()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
occupation,,,,,,
Adm-clerical,36.964456,192043.396286,10.113528,495.954907,60.794430,37.558355
Armed-Forces,30.222222,215425.888889,10.111111,0.000000,209.666667,40.666667
Craft-repair,39.031471,192132.599658,9.110759,649.512808,88.465235,42.304221
Handlers-cleaners,32.165693,204391.006569,8.510219,257.572993,45.635766,37.947445
Machine-op-inspct,37.715285,195040.877622,8.487512,328.689311,61.706294,40.755744
Other-service,34.949621,188608.452200,8.779666,191.301669,38.250683,34.701669
Protective-serv,38.953775,202039.953775,10.184900,708.098613,78.334361,42.870570
Sales,37.353973,190885.892055,10.299726,1319.829315,98.300548,40.781096
Tech-support,37.022629,192098.301724,10.992457,673.552802,98.665948,39.432112